<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :users, "data-turbo-track": "reload" %>
<% end %>

<h1><%= t("login.title") %></h1>

<table>
<%= form_with url: login_path, scope: :user, data: { turbo: false }, local: true do |form| %>
  <tr>
    <td><%= form.label t("login.username") %></td>
    <td><%= form.text_field :username, required: true %></td>
  </tr>
  <tr>
    <td><%= form.label t("login.password") %></td>
    <td><%= form.password_field :password, required: true %></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center;">
      <%= form.submit t("login.submit"), id: "submit" %>
    </td>
  </tr>
<% end %>
</table>