<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :movies, "data-turbo-track": "reload" %>
<% end %>

<% if @movie.present? %>
  <div class="movie-details-page">
  <% favorite = current_user&.favorite_movies&.find_by(movie_id: @movie['id']) || false %>
    <div class="title-wrapper">
      <h1 class="movie-details-title"><%= @movie["title"] %></h1>
    </div>
    <div class="movie-details-content">
      <div class="movie-details-poster" data-movie-id="<%= @movie['id'] %>" data-vote-count="<%= @movie['vote_count'] %>" data-vote-average="<%= @movie['vote_average'] %>" data-title="<%= @movie['title'] %>" data-overview="<%= @movie['overview'] %>" data-poster-path="<%= @movie['poster_path'] %>" data-backdrop-path="<%= @movie['backdrop_path'] %>">
        <%= button_tag(favorite ? '💛' : '❤️', class: "details-poster-button", type: 'button') %>
        <%= image_tag(@movie["poster_path"] ? "https://image.tmdb.org/t/p/w500#{@movie["poster_path"]}" : asset_path('placeholder.png'), alt: @movie["title"]) %>
      </div>

      <div class="movie-details-info" style="<%= @movie['backdrop_path'].present? ? "background-image: url('https://image.tmdb.org/t/p/w1280#{@movie['backdrop_path']}');" : '' %>">
        <h2><strong><%= t("movies.overview") %></strong></h2>
        <p><%= @movie['overview'] != "" ? @movie['overview'] : t("no_synopsis_available") %></p>

        <% user_rating = current_user&.ratings&.find_by(movie_id: @movie['id'])&.score || 0 %>
        <% favorite = current_user&.favorite_movies&.find_by(movie_id: @movie['id']) || false %>
        <% user_avg = Rating.where(movie_id: @movie['id']).average(:score) || 0 %>
        <% user_count = Rating.where(movie_id: @movie['id']).count %>
        <% total_votes = @movie['vote_count'].to_i + user_count %>

        <div class="movie-details-rating" data-movie-id="<%= @movie['id'] %>" data-title="<%= @movie['title'] %>" data-overview="<%= @movie['overview'] %>" data-poster-path="<%= @movie['poster_path'] %>" data-backdrop-path="<%= @movie['backdrop_path'] %>" data-vote-average="<%= @movie['vote_average'] %>" data-vote-count="<%= @movie['vote_count'] %>" data-ratings-text="<%= t('ratings') %>">
          <div class="rating-content">
            <% rating = (@movie['rating'].to_f) == 0 ? user_rating : (@movie['rating'].to_f) %>
            <% 1.upto(5) do |i| %>
              <% star_class = 
                if rating >= i
                  "fa-solid"
                elsif rating >= i - 0.5
                  "fa-solid fa-star-half-stroke"
                else
                  "fa-regular"
                end
              %>
              <% star_color = (user_rating >= i - 0.5) ? "color: #ffae10" : "" %>
              <i class="fa-star <%= star_class %> star" style="<%= star_color %>" data-score="<%= i %>"></i>
            <% end %>
            <br>
            <span class="rating-score">
              <%= number_with_precision(rating, precision: 1) %> / 5 (<%= total_votes %> <%= t("ratings") %>)
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comments">
    <h2><%= t("comments.title") %></h2>
    <% user_comment = current_user&.comments&.find_by(movie_id: @movie['id']) %>
    <div class="add-comment" id="add-comment-form" style="<%= user_comment.present? ? 'display:none;' : '' %>">
      <h3><%= t("comments.add_comment") %></h3>
      <%= form_with(model: Comment) do |form| %>
        <%= form.hidden_field :movie_id, value: @movie['id'] %>
          <%= form.text_area :content, rows: 2, class: "comment-textarea" %>
          <br>
          <%= form.submit t("comments.submit") %>
      <% end %>
    </div>

    <div class="comments-list">
      <% if @comments.any? %>
        <%= render partial: "comments/comment", collection: @comments, as: :comment, locals: { movie: @movie } %>
      <% else %>
        <div class="comment-item">
          <p><%= t("comments.no_comments") %></p>
        </div>
      <% end %>
    </div>
<% end %>

<%= javascript_include_tag "movie_details", "data-turbo-track": "reload", defer: true %>

<script>
document.addEventListener("turbo:load", function() {
  document.body.addEventListener("click", function(e) {
    // Editar comentario
    if (e.target.matches(".edit-comment")) {
      e.preventDefault();
      var id = e.target.dataset.commentId;
      document.getElementById("comment-content-" + id).style.display = "none";
      document.getElementById("edit-comment-form-" + id).style.display = "block";
    }
    // Cancelar edición
    if (e.target.matches(".cancel-edit")) {
      e.preventDefault();
      var id = e.target.dataset.commentId;
      document.getElementById("edit-comment-form-" + id).style.display = "none";
      document.getElementById("comment-content-" + id).style.display = "block";
    }
  });
});
</script>