<!-- app/views/movies/index.html.erb --> <!-- Vista de películas populares -->
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :movies, "data-turbo-track": "reload" %>
<% end %>
<h1><%= t("movies.popular") %></h1>

<% if @movies.any? %>
  <div id="movies-container">
  <% @movies.each do |movie| %>
    <%= render 'movies/movie', movie: movie %>
  <% end %>
  <%= paginate @movies %>
  </div>
<% else %>
  <p><%= t("movies.nomovies") %></p>
<% end %>



<%= javascript_include_tag "movies", "data-turbo-track": "reload", defer: true %>