<!-- app/views/movies/index.html.erb --> <!-- Vista para buscar películas -->
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :movies, "data-turbo-track": "reload" %>
<% end %>
<h1><%= t("movies.search") %></h1>

<% if @movies.present? %>
  <div id="movies-container">
    <% @movies.each do |movie| %>
      <%= render 'movies/movie', movie: movie %>
    <% end %>
    <%= paginate @movies %>
  </div>
<% elsif params[:query].present? %>
  <p><%= t("movies.noresults") %></p>
<% end %>

<%= javascript_include_tag "movie_search", "data-turbo-track": "reload", defer: true %>
<%= javascript_include_tag "movies", "data-turbo-track": "reload", defer: true %>