<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :users, "data-turbo-track": "reload" %>
<% end %>

<h1><%= t("users.edit") %></h1>

<% if @user.errors.any? %>
  <div class="errors">
    <% @user.errors.messages.each do |attr, messages| %>
      <% messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    <% end %>
  </div>
<% end %>

<table>
<%= form_with model: @user, local: true do |f| %>
  <tr>
    <td><%= f.label t("login.username") %></td>
    <td><%= f.text_field :username, required: true %></td>
  </tr>

  <tr>
    <td><%= f.label t("login.password") %></td>
    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
  </tr>

  <tr>
    <td><%= f.label t("login.confirmpassword") %></td>
    <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
  </tr>

  <tr>
    <td><%= f.label :enabled, t("users.enabled") %></td>
    <td><%= f.check_box :enabled %></td>
  </tr>
  <tr>
    <td><%= f.label :admin, t("users.admin") %>
    <td><%= f.check_box :admin %>
  </tr>
  <tr>
    <td><%= link_to t("users.backtolisting"), users_path, id: "back-button" %></td>
    <td style="text-align: center;"><%= f.submit t("users.update"), id: "edit-button"%></td>
  </tr>
<% end %>
</table>