<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :users, "data-turbo-track": "reload" %>
<% end %>

<h1><%= t("login.registerTitle") %></h1>

<% if @user.errors.any? %>
  <div class="errors">
    <ul>
      <% @user.errors.messages.each do |attr, messages| %>
        <% messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<table>
<%= form_with model: @user, data: { turbo: false }, local: true do |form| %>
<tr>
    <td><%= form.label t("login.username") %></td>
    <td><%= form.text_field :username, required: true %></td>
</tr>
<tr>
    <td><%= form.label t("login.password") %></td>
    <td><%= form.password_field :password, required: true %></td>
</tr>
<tr>
  <td><%= form.label t("login.confirmpassword") %></td>
  <td><%= form.password_field :password_confirmation, required: true %></td>
</tr>
<tr>
  <% if admin? %>
    <tr>
      <td><%= form.label :admin, t("users.admin") %></td>
      <td><%= form.check_box :admin %></td>
    <tr>
  <% end %>
</tr>
<tr>
  <td><%= form.submit t("login.register") %></td>
  <td></td>
</tr>
<% end %>
</table>
