<!-- app/views/home/index.html.erb --> <!-- Página principal -->
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :movies, "data-turbo-track": "reload" %>
<% end %>

<% if logged_in? %>
  <h2><%= t("welcome") %>, <%= current_user.username %></h2>
<% else %>
  <h2><%= t("welcome") %></h2>
<% end %>

<% if logged_in? %> <!-- Si el usuario está logeado -->
  <% if @favorite_movies.present? %>
    <h3><%= t("users.favoritemovies") %></h3>
    <div id="favorite_movies">
      <%= render 'home/favorite_movies', favorite_movies: @favorite_movies %>
    </div>
  <% end %>

  <% if @rated_movies.present? %>
    <h3><%= t("users.ratedmovies") %></h3>
    <div id="rated_movies">
      <%= render 'home/rated_movies', rated_movies: @rated_movies %>
    </div>
  <% end %>
  
  <% if @watched_movies.present? %>
    <h3><%= t("movies.watched") %></h3>
    <div id="watched_movies">
      <%= render 'home/watched_movies', watched_movies: @watched_movies %>
    </div>
  <% end %>

  <% if !@favorite_movies.present? && !@rated_movies.present? && !@watched_movies.present? %>
    <% if @movies.any? %>
      <div id="movies-container">
      <% @movies.each do |movie| %>
        <%= render 'movies/movie', movie: movie %>
      <% end %>
      </div>
    <% else %>
      <p><%= t("movies.nomovies") %></p>
    <% end %>
  <% end %>
<% else %>
  <div class="home">
    <br>
    <%= link_to t("login.title"), login_path %>
    <%= link_to t("login.register"), new_user_path%>
  </div>
<% end %>

<script>
  document.addEventListener("turbo:frame-load", function(event) {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<%= javascript_include_tag "movies", "data-turbo-track": "reload", defer: true %>